<a href="https://colab.research.google.com/github/AnandVarmaVegesna1/BDMCLASS/blob/main/week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#5 reversetheresultant
#a
text ='python'
text_update=text[:-2]
print(text_update[::-1])

#b 4 arithmetic operations
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b if b != 0 else "Undefined")

htyp
Enter first number: 2
Enter second number: 2
Addition: 4.0
Subtraction: 0.0
Multiplication: 4.0
Division: 1.0

In [6]:
#6 sentence replacement for python
sentence = input("Enter a sentence: ")
updated_sentence = sentence.replace("python", "pythons")
print("Updated sentence:", updated_sentence)

Enter a sentence: i dont like python
Updated sentence: i dont like pythons

In [7]:
#7
score = float(input("Enter your class score (0-100): "))

if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
elif score >= 60:
    print("Grade: D")
else:
    print("Grade: F")

Enter your class score (0-100): 67
Grade: D

In [4]:
#8

x = [23, 'Python', 23.98]

print(x)
print([type(i) for i in x])

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [5]:
#9

IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
print ("length of the set IT_companies", len (IT_companies))

IT_companies.add('Twitter')
print("After adding Twitter:", IT_companies)

IT_companies.update(['TCS', 'Infosys',])
print("After adding multiple companies:", IT_companies)

IT_companies.remove('Facebook')
print("After removing Facebook:", IT_companies)

IT_companies.discard('NonExistentCompany')

print("A union B:", A.union(B))

print("A intersection B:", A.intersection(B))

print("Is A subset of B?:", A.issubset(B))

print("Are A and B disjoint?:", A.isdisjoint(B))

print("A union B:", A | B)
print("B union A:", B | A)

print("Symmetric difference between A and B:", A.symmetric_difference(B))

del A
del B

age_set = set(age)
print("Length of age list:", len(age))
print("Length of age set (unique values):", len(age_set))

length of the set IT_companies 7
After adding Twitter: {'Oracle', 'Google', 'Microsoft', 'Twitter', 'IBM', 'Facebook', 'Apple', 'Amazon'}
After adding multiple companies: {'Oracle', 'IBM', 'Facebook', 'Google', 'Twitter', 'TCS', 'Microsoft', 'Infosys', 'Apple', 'Amazon', 'Wipro'}
After removing Facebook: {'Oracle', 'IBM', 'Google', 'Twitter', 'TCS', 'Microsoft', 'Infosys', 'Apple', 'Amazon', 'Wipro'}
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
Is A subset of B?: True
Are A and B disjoint?: False
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
B union A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: {27, 28}
Length of age list: 8
Length of age set (unique values): 5